{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

<!-- #!!! FACTOR THIS REFERNCE OUT -->

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>



      {{ form.media }}
<div class="container">

    <div class="col-md-6 col-md-offset-3">
      <h3 >ADD A NEW TASK</h3>
        <form method="POST" id="todo_post_form">
            {% csrf_token %}

            {{form|crispy}}
            <br>
            <input type="submit" value="Submit" class="tiny button">
        </form>


    <span style="display:inline-block; height: 20"></span>
</div>
</div>
<hr>

<div class="container">
<ul id="posts2">
</ul>

<!-- The feed -->
<div class="row white">
    <div class="columns large-12">
        <ul id="posts">
            {% for todos in all_todo %}
                <li id='todo-{{todos.pk}}'>

                    <span>{{ todos.name }}</span> -
                    <span>{{ todos.discription }}</span>
                    <!-- <span>{{ todos.dueMinutes }}</span> -->
                    <span>{{ todos.dueDate }}</span>
                    <span>{{ todos.timezoneChoice }}</span>

                </li>
            {% endfor %}
        </ul>
    </div>
</div>


</div>
<script src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.2/moment.min.js"></script>
<script type="text/javascript" src="{% static 'js/todolist.js' %}"> </script>



{% endblock %}
