 <!-- Javascript which is used on all pages/ site wide -->

{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script src="{% static 'js/bootstrap.min.js' %}"></script>
