{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

<!-- <h1>To Do List</h1> -->


{% if not request.user.is_authenticated %}
<div class="container">
<div >

  <h1>Register</h1>
  <form lass="form-horizontal  col-md-6 pull-right" method="post" action="">
    {% csrf_token %}
    {{ form.as_table }}

     <input class='btn btn-block btn-primary' type="submit" value="Join" />
  </form>


</div>
</div>
{% endif %}

{% endblock %}


{% block content %}



{% if request.user.is_authenticated %}
<h1>You are logged in!</h1>
{% endif %}


</div>

<!-- <script type="text/javascript" src="{% static 'js/main.js' %}"></script> -->



{% endblock %}
