{% load staticfiles %}

<!-- This markup was taken from an older project of mine and is not new code, I do not know the full details of all the bootstrap classes here -->

 <!-- Static navbar -->
  <nav class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
                </button>
        <a class="navbar-brand" href="/">HOME</a>
        <a class="navbar-brand" href="{% url "todolist:todo_index" %}">Tasks</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">


        </ul>

        <ul class="nav navbar-nav navbar-right">
      {% if request.user.is_authenticated %}
        <li><a href="{% url 'auth_logout' %}">{{ request.user }} - Logout</a></li>
        {% else %}
        <li><a href="{% url 'accounts:registration_register' %}">Register</a></li>
        {% endif %}
      </ul>

      {% if not request.user.is_authenticated and not "/accounts/login" in request.get_full_path %}
        <form class='navbar-form navbar-right' method='POST' action='{% url "custom:email_login_view" %}'>{% csrf_token %}
          <div class='form-group'>
              <input type='text' class='form-control' name='email' placeholder='email' />
          </div>
          <div class='form-group'>
              <input type='password' class='form-control' name='password' placeholder='Password' />
          </div>
          <button type='submit' class='btn btn-default'>Login</button>
      </form>
      {% endif %}


      </div><!--/.nav-collapse -->
    </div>
  </nav>
