{% extends "base.html" %}
{% load crispy_forms_tags %}



{% block content %}
<div class="container">
<div class="col-md-6 col-md-offset-3">

  <h1>Register</h1>
  <form lass="form-horizontal  col-md-6 pull-right" method="post" action="">
    {% csrf_token %}
    {{ form|crispy }}

     <input class='btn btn-block btn-primary' type="submit" value="Join" />
  </form>


</div>
</div> 
 {% endblock %}
